<%= form_with(model: trip, local: true) do |form| %>
  <% if trip.errors.any? %>
  <div class="row justify-content-center">
    <div id="error_explanation">
      <h2><%= pluralize(trip.errors.count, "error") %> prohibited this trip from being saved:</h2>

      <ul>
      <% trip.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

		  <div class="row">
			<div class="col-6">
				<div class="float-right">
					<%= form.label :Name %>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Name, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :lake_dests, "Lakes in this trip" %>
				</div>
			</div>
			<div class="col-6">
				<%= form.collection_select(:lake_dests, @lakes, :id, :Name, {:prompt => true, include_hidden: false}, {:multiple => true, :required => true}) %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Date %>
				</div>
			</div>
			<div class="col-6">
				<%= form.date_select :Date , {:required => true}%>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :AvailablePlaces %>
				</div>
			</div>
			<div class="col-6">
				<%= form.number_field :AvailablePlaces , {:value => "20", :required => true}%>
			</div>
		</div>	
		<br>

		<div class="row justify-content-center">
			<%= form.submit class: "btn btn-primary", style: "margin-left: 10px;" %>
			<% end %>
			<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get", style: "margin-left: 10px;" %>
		</div>
