<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.Name %>
</p>

<p>
  <strong>Lakes:</strong>
  <%= @trip.Lakes %>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.Date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.Price %>
</p>

<p>
  <strong>Availableplaces:</strong>
  <%= @trip.AvailablePlaces %>
</p>

<%= button_to 'Edit', edit_trip_path(@trip), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', trip_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>
