<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @trip.Name %>
</p>

<p>
  <strong>Lakes:</strong>
  <ul>
	<% @trip.lake_dest.each do |lake|%>
		<li><a class="nounderline" href="/lake_dests/<%=lake.id%>"><%= lake.Name%></a></li>
	<% end%>
  </ul>
</p>

<p>
  <strong>Date:</strong>
  <%= @trip.Date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @trip.Price %>
</p>

<p>
  <strong>Availableplaces:</strong>
  <%= @trip.AvailablePlaces %>
</p>
<% if admin?%>
<%= button_to 'Edit', edit_trip_path(@trip), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', trip_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>
<% end%>
<div id="container" class=" " style="width: 50%; height: 400px; float: right; margin: 0 auto"></div>

<script type="text/javascript">
Highcharts.chart('container', {
  chart: {
    plotBackgroundColor: null,
    plotBorderWidth: null,
    plotShadow: false,
    type: 'pie'
  },
  title: {
    text: 'Availability'
  },
  tooltip: {
    pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
  },
  plotOptions: {
    pie: {
      allowPointSelect: true,
      cursor: 'pointer',
      dataLabels: {
        enabled: true,
        format: '<b>{point.name}</b>: {point.y}',
        style: {
          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
        }
      }
    }
  },
  series: [{
    name: 'Brands',
    colorByPoint: true,
    data: [{
      name: 'Free',
      y: <%= raw @trip.AvailablePlaces%>,
      sliced: true
    }, {
      name: 'Booked',
      y: <%= raw Booking.where(trip_id: @trip.id).sum(:NoOfPersons) %>
    }]
  }]
});
</script>
