<%= form_with(model: lake_dest, local: true) do |form| %>
  <% if lake_dest.errors.any? %>
  <div class="row justify-content-center">
    <div id="error_explanation">
      <h2><%= pluralize(lake_dest.errors.count, "error") %> prohibited this lake_dest from being saved:</h2>

      <ul>
      <% lake_dest.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  </div>
  <% end %>

		  <div class="row">
			<div class="col-6">
				<div class="float-right">
				<%= form.label :Name %>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Name, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Area %>
				</div>
			</div>
			<div class="col-6">
				<%= form.number_field :Area, {:value => "0.00", :required => true,step: 0.01} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :District %>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :District, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Lat , "Latitude"%>
				</div>
			</div>
			<div class="col-6">
				<%= form.number_field :Lat, {:value => "0.00", :required => true,step: 0.01} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Long , "Longitude" %>
				</div>
			</div>
			<div class="col-6">
				<%= form.number_field :Long, {:value => "0.00", :required => true,step: 0.01} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :River %>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :River, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Details_Url %>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Details_Url, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Altitude , "Altitude category"%>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Altitude, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Alkalinity , "Alkalinity category"%>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Alkalinity, {:required => true} %>
			</div>
		  </div>
		  <div class="row">
			<div class="col-6">
				<div class="float-right">  
					<%= form.label :Depth , "Depth category"%>
				</div>
			</div>
			<div class="col-6">
				<%= form.text_field :Depth, {:required => true} %>
			</div>
		  </div>
		<br>
		<div class="row justify-content-center">
			<%= form.submit class:"btn btn-primary" , style: "margin-left: 10px;"%>
			<% end %>
			<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" , style: "margin-left: 10px;"%>
		</div>
