<p id="notice"><%= notice %></p>

<h1>Lakes</h1>

<%= form_tag(lake_dests_path, method: :get) do %>
  <div class="field">
  <%= text_field_tag :Name, params[:Name] , placeholder: "Lake Name"%>
  <%= submit_tag 'Search', class: "btn btn-primary", name: nil%>
  </div>
  
  <a class="btn btn-outline-secondary btn-sm" data-toggle="collapse" href="#collapseFilters" role="button" aria-expanded="false" aria-controls="collapseExample">More filters</a>

  <div class="collapse" id="collapseFilters">
	  <div class="card card-body">
		  <div class="field">
		  <%= label_tag :Area, 'Area min-max'%>
		  <%= number_field_tag :AreaMin, params[:AreaMin] ,step: 0.01%>-
		  <%= number_field_tag :AreaMax, params[:AreaMax] ,step: 0.01%>
		  <div id='AreaSlider' style="width: 40%;"></div>
		  </div>

		  <div class="field">
		  <%= label_tag :District%>
		  <% @districts.each do |district| %>
				<%= check_box_tag 'District[]', district, @selectedDistricts.include?(district) %>
				<%= h district %>
		  <% end %>
		  </div>

		  <div class="field">
		  <%= label_tag :Lat,'Latitude min-max'%>
		  <%= number_field_tag :LatMin, params[:LatMin] ,step: 0.01%>-
		  <%= number_field_tag :LatMax, params[:LatMax] ,step: 0.01%>
		  <div id='LatSlider'  style="width: 40%;"></div>
		  </div>

		  <div class="field">
		  <%= label_tag :Long, 'Longitude min-max'%>
		  <%= number_field_tag :LongMin, params[:LongMin] ,step: 0.01%>-
		  <%= number_field_tag :LongMax, params[:LongMax] ,step: 0.01%>
		  <div id='LongSlider'  style="width: 40%;"></div>
		  </div>

		  <div class="field">
		  <%= label_tag :River%>
		  <%= select_tag :River, options_for_select(@rivers, @Rivers), multiple: true%>
		  </div>

		  <div class="field">
		  <%= label_tag :Altitude%>
		  <% @altitudes.each do |altitude| %>
				<%= check_box_tag 'Altitude[]', altitude , @selectedAltitudes.include?(altitude)%>
				<%= h altitude %>
		  <% end %>
		  </div>

		  <div class="field">
		  <%= label_tag :Alkalinity %>
		  <% @alkalinities.each do |alkalinity| %>
				<%= check_box_tag 'Alkalinity[]', alkalinity, @selectedAlkalinities.include?(alkalinity) %>
				<%= h alkalinity %>
		  <% end %>
		  </div>

		  <div class="field">
		  <%= label_tag :Depth%>
		  <% @depths.each do |depth| %>
				<%= check_box_tag 'Depth[]', depth, @selectedDepths.include?(depth) %>
				<%= h depth %>
		  <% end %>
		  </div>
		  <%= button_tag("Delete Filters", {:type => 'reset', :class => 'btn btn-primary btn-sm'}) %>
		</div>
	</div>
  
<% end %>
<%= javascript_include_tag "nouislider" %>  
<script>

var slider1 = document.getElementById('AreaSlider');
var slider2 = document.getElementById('LatSlider');
var slider3 = document.getElementById('LongSlider');
var Areas=[ AreaMin = document.getElementById('AreaMin'),
			AreaMax = document.getElementById('AreaMax')]
var Lats=[ LatMin = document.getElementById('LatMin'),
		   LatMax = document.getElementById('LatMax')]
var Longs=[ LongMin = document.getElementById('LongMin'),
			LongMax = document.getElementById('LongMax')]

noUiSlider.create(slider1, {
    start: [<%= @AreaMin %>, <%= @AreaMax %>],
    connect: true,
	step: 0.01,
    range: {
        'min': 0,
        'max': 100
    }
});
noUiSlider.create(slider2, {
    start: [<%= @LatMin %>, <%= @LatMax %>],
    connect: true,
	step: 0.01,
    range: {
        'min': -90,
        'max': 90
    }
});
noUiSlider.create(slider3, {
    start: [<%= @LongMin %>, <%= @LongMax %>],
    connect: true,
	step: 0.01,
    range: {
        'min': -180,
        'max': 180
    }
});
slider1.noUiSlider.on('update', function (values, handle) {
    Areas[handle].value = values[handle]
});

slider2.noUiSlider.on('update', function (values, handle) {
    Lats[handle].value = values[handle]
});

slider3.noUiSlider.on('update', function (values, handle) {
    Longs[handle].value = values[handle]
});

Areas[0].addEventListener('change', function () {
    slider1.noUiSlider.set([Areas[0].value, Areas[1].value]);
});

Areas[1].addEventListener('change', function () {
    slider1.noUiSlider.set([Areas[0].value, Areas[1].value]);
});

Lats[0].addEventListener('change', function () {
    slider2.noUiSlider.set([Lats[0].value, Lats[1].value]);
});

Lats[1].addEventListener('change', function () {
    slider2.noUiSlider.set([Lats[0].value, Lats[1].value]);
});

Longs[0].addEventListener('change', function () {
    slider3.noUiSlider.set([Longs[0].value, Longs[1].value]);
});

Longs[1].addEventListener('change', function () {
    slider3.noUiSlider.set([Longs[0].value, Longs[1].value]);
});


$('button[type=reset]').click(function(event){
 event.preventDefault();
 var event = new Event('change');
 $('input[ name=Name]').val('');
 slider1.noUiSlider.set([0, 100]);
 slider2.noUiSlider.set([-90, 90]);
 slider3.noUiSlider.set([-180, 180]);
 $('input:checkbox').removeAttr('checked');
});

</script>
<br>
<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item">
    <a class="nav-link active" id="table-tab" data-toggle="tab" href="#table" role="tab" aria-controls="table" aria-selected="true">Table</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" id="mapt-tab" data-toggle="tab" href="#mapt" role="tab" aria-controls="map" aria-selected="false">Map</a>
  </li>
</ul>
<br>
<div class="tab-content" id="myTabContent">
  <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="table-tab">
	<table  id="Lakes" class="container-fluid display responsive no-wrap" width="100%">
	  <thead>
		<tr>
		  <th>Name</th>
		  <th>Area</th>
		  <th>District</th>
		  <th>Lat</th>
		  <th>Long</th>
		  <th>River</th>
		  <th>Altitude</th>
		  <th>Alkalinity</th>
		  <th>Depth</th>
		  <th></th>
		</tr>
	  </thead>

	  <tbody>
		<% @lake_dests.each do |lake_dest| %>
		  <tr>
			<td><%= lake_dest.Name %></td>
			<td><%= lake_dest.Area %></td>
			<td><%= lake_dest.District %></td>
			<td><%= lake_dest.Lat %></td>
			<td><%= lake_dest.Long %></td>
			<td><%= lake_dest.River %></td>
			<td><%= lake_dest.Altitude %></td>
			<td><%= lake_dest.Alkalinity %></td>
			<td><%= lake_dest.Depth %></td>
			<td>
				<div class="btn-group" role="group" aria-label="Basic example">
				  <%= link_to 'Show', lake_dest ,class: "btn btn-outline-secondary"%>
				  <% if admin?%>
				  <%= link_to 'Edit', edit_lake_dest_path(lake_dest) ,class: "btn btn-outline-secondary"%>
				  <%= link_to 'Destroy', lake_dest, method: :delete, data: { confirm: 'Are you sure?' } ,class: "btn btn-outline-secondary"%>
				  <%end%>
				</div>
			</td>
		  </tr>
		<% end %>
	  </tbody>
	</table>

	<br>
	<%if admin?%>
	<%= button_to 'New Lake Dest', new_lake_dest_path ,class: "btn btn-primary", method: "get"%>
	<%end%>
	
</div>
<script>
$(document).ready(function() {
    $('#Lakes').DataTable( {
		"searching": false
    } );
} );
</script>

<div class="tab-pane fade" id="mapt" role="tabpanel" aria-labelledby="mapt-tab">
	<div id="map" style="height: 600px; width: 80%; margin: auto;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: 57.0, lng: -3.58},
          zoom: 7
        });
		 var infowindow = new google.maps.InfoWindow();
	
	var marker, i, markers =[];
	
	

    <% @lake_dests.each do |lake_dest| %>  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= lake_dest.Lat%>, <%= lake_dest.Long%>),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
		  <% @link = link_to(lake_dest.Name+", "+lake_dest.District, lake_dest)%>
		  infowindow.setContent(<%= @link.to_json.html_safe%>);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  markers.push(marker);
    <% end %>
	  
	var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	
	  
	  }
	  
    </script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxVu5xH2AtPAlOlWZuDZS-PoKCp5tpD4w&callback=initMap"
    async defer></script>

	<br><br>
</div>
</div>

