<p id="notice"><%= notice %></p>
<div class="row" style="width: 100%; padding: 10px;">
	<div class="col-6">
		<div class="col-12" style="text-align: center;">
			<h1><%= @lake_dest.Name %></h1>
			<br>
		</div>
		<% if admin?%>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Area:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Area %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>District:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.District %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Lat:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Lat %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Long:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Long %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>River:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.River %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Details url:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Details_Url %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Altitude:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Altitude %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Alkalinity:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Alkalinity %>
			</div>
		</div>

		<div class="row">
			<div class="col-6" style="text-align: right;">
				<strong>Depth:</strong>
			</div>
			<div class="col-6">
				<%= @lake_dest.Depth %>
			</div>
		</div>
		<br>
		<% if admin?%>
		<div class="row justify-content-center">
			<%= button_to 'Edit', edit_lake_dest_path(@lake_dest), class: "btn btn-primary", method: "get", style: "margin-left: 10px;"%>
			<%= button_to 'Delete', lake_dest_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }, style: "margin-left: 10px;"%>
		</div>
		<% end%>
		<%else%>

		<div class="row">
			<div class="col-12">
				<%= @lake_dest.Name %> is one of the many lakes we offer tours to. It is located in the <%= @lake_dest.District %> district, Latitude: <%= @lake_dest.Lat %>,
				Longitude: <%= @lake_dest.Long %> to be exact. <%if @lake_dest.River%> It is formed by the <%= @lake_dest.River %>.<%end%> It is considered a <%= @lake_dest.Depth %>,
				<%= @lake_dest.Altitude %>, <%= @lake_dest.Alkalinity %> lake. You can find more details about it <a href="<%= @lake_dest.Details_Url %>">here</a>.
				<br>
				<br>
				<p>Tours we offer for this lake:</p>
				<ul>
					<% @lake_dest.trip.each do |trip|%>
					<li><a class="nounderline" href="/trips/<%=trip.id%>"><%= trip.Name%></a></li>
					<% end%>
				</ul>
			</div>
		</div>

		<%end%>
	</div>
	<div class="col-6">
		<div id="map" style="height: 600px; width: 100%; margin: auto;"></div>
	</div>
</div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @lake_dest.Lat%>, lng: <%= @lake_dest.Long%>},
          zoom: 13
        });
		 var infowindow = new google.maps.InfoWindow();
	
	var marker, i, markers =[];
	
	

    <% @lake_dests.each do |lake_dest| %>  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= lake_dest.Lat%>, <%= lake_dest.Long%>),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
		  <% @link = link_to(lake_dest.Name+", "+lake_dest.District, lake_dest, )%>
		  infowindow.setContent(<%= @link.to_json.html_safe%>);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  markers.push(marker);
    <% end %>
	  
	var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	
	  
	  }
	  
    </script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxVu5xH2AtPAlOlWZuDZS-PoKCp5tpD4w&callback=initMap"
    async defer></script>

	<br><br>

