<p id="notice"><%= notice %></p>
<% if admin?%>
<p>
  <strong>Name:</strong>
  <%= @lake_dest.Name %>
</p>

<p>
  <strong>Area:</strong>
  <%= @lake_dest.Area %>
</p>

<p>
  <strong>District:</strong>
  <%= @lake_dest.District %>
</p>

<p>
  <strong>Lat:</strong>
  <%= @lake_dest.Lat %>
</p>

<p>
  <strong>Long:</strong>
  <%= @lake_dest.Long %>
</p>

<p>
  <strong>River:</strong>
  <%= @lake_dest.River %>
</p>

<p>
  <strong>Details url:</strong>
  <%= @lake_dest.Details_Url %>
</p>

<p>
  <strong>Altitude:</strong>
  <%= @lake_dest.Altitude %>
</p>

<p>
  <strong>Alkalinity:</strong>
  <%= @lake_dest.Alkalinity %>
</p>

<p>
  <strong>Depth:</strong>
  <%= @lake_dest.Depth %>
</p>

<%= button_to 'Edit', edit_lake_dest_path(@lake_dest), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', lake_dest_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>
<%else%>
<h1><%= @lake_dest.Name %></h1>

<p>
<%= @lake_dest.Name %> is one of the many lakes we offer tours to. It is located in the <%= @lake_dest.District %> district, Latitude: <%= @lake_dest.Lat %>,
 Longitude: <%= @lake_dest.Long %> to be exact. <%if @lake_dest.River%> It is formed by the <%= @lake_dest.River %>.<%end%> It is considered a <%= @lake_dest.Depth %>,
  <%= @lake_dest.Altitude %>, <%= @lake_dest.Alkalinity %> lake. You can find more details about it <a href="<%= @lake_dest.Details_Url %>">here</a>.
</p>

<%end%>
<div id="map" style="height: 600px; width: 50%; margin: auto;"></div>
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: <%= @lake_dest.Lat%>, lng: <%= @lake_dest.Long%>},
          zoom: 13
        });
		 var infowindow = new google.maps.InfoWindow();
	
	var marker, i, markers =[];
	
	

    <% @lake_dests.each do |lake_dest| %>  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(<%= lake_dest.Lat%>, <%= lake_dest.Long%>),
        map: map
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
		  <% @link = link_to(lake_dest.Name+", "+lake_dest.District, lake_dest, )%>
		  infowindow.setContent(<%= @link.to_json.html_safe%>);
          infowindow.open(map, marker);
        }
      })(marker, i));
	  markers.push(marker);
    <% end %>
	  
	var markerCluster = new MarkerClusterer(map, markers,
            {imagePath: 'https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/m'});
	
	  
	  }
	  
    </script>
	<script src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
    

	<br><br>

