<%= form_with(model: credit_card, local: true) do |form| %>
  <% if credit_card.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(credit_card.errors.count, "error") %> prohibited this credit_card from being saved:</h2>

      <ul>
      <% credit_card.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field">
    <%= form.label :organisation %>
    <%= form.select :organisation, CreditCard.organisations.keys, prompt: 'Select a card type' %>
  </div>

  <div class="field">
    <%= form.label :number %>
    <%= form.text_field :number %>
  </div>

  <div class="field">
    <%= form.label :exp_date %>
     <%= select_date Date.today, prefix: :exp_date , :discard_day => true, :use_month_numbers => true, :use_two_digit_numbers => true, :start_year => Date.today.year%>
  </div>

  <div class="field">
    <%= form.label :name_on_card %>
    <%= form.text_field :name_on_card %>
  </div>

  <%if admin?%>
	  <div class="field">
		<%= form.label :user_id %>
		<%= form.collection_select :user_id, @users, :id, :full_name, :prompt => "Select an user" %>
	  </div>
  <%else%>
	<%= form.hidden_field :user_id, :value => current_user.id %>
  <%end%>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
	<% end %>
	<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" %>
  </div>
