<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @credit_card.number %>
</p>

<p>
  <strong>Exp date:</strong>
  <%= @credit_card.exp_date %>
</p>

<p>
  <strong>Name on card:</strong>
  <%= @credit_card.name_on_card %>
</p>

<p>
  <strong>Organisation:</strong>
  <%= @credit_card.organisation %>
</p>

<%if admin?%>
<p>
  <strong>User:</strong>
  <%= @credit_card.user.Lname %>
</p>
<%end%>

<%= button_to 'Edit', edit_credit_card_path(@credit_card), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', credit_card_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>