<%= form_with(model: booking, local: true) do |form| %>
  <% if booking.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(booking.errors.count, "error") %> prohibited this booking from being saved:</h2>

      <ul>
      <% booking.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.collection_select :user_id, @users, :id, :full_name, :prompt => "Select an user" %>
  </div>

  <div class="field">
    <%= form.label :NoOfPersons, "Number of persons" %>
    <%= form.number_field :NoOfPersons, value: '1', in: 1..20 %>
  </div>

  <div class="field">
    <%= form.label :trip_id %>
	<%= form.collection_select :trip_id, @trips, :id, :Name, :prompt => "Select a Trip" %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-primary" %>
	<% end %>
	<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" %>
  </div>
