<h1>Pay for booking</h1>
	<%= form_for @booking, url: {action: "update"} do |form| %>
	<p>
	  <strong>Name:</strong>
	  <%= @trip.Name %>
	</p>

	<p>
	  <strong>Lakes:</strong>
	  <%= @trip.Lakes %>
	</p>

	<p>
	  <strong>Date:</strong>
	  <%= @trip.Date %>
	</p>

	<p>
	  <strong>Price per person:</strong>
	  <%= @trip.Price%>
	</p>

	<p>
	  <strong>NoOfPersons:</strong>
	  <%= @booking.NoOfPersons %>
	</p>
	
	<p>
		<strong>Total:</strong>
		<%= @trip.Price*@booking.NoOfPersons %>
	</p>
	
	<div class="field">
		<%= form.label "Payment method:"%>
		<% if !@cards.empty? %>
			<% @cards.each do |card|%>
				<%= form.radio_button :Paid, true%>
				<%= label :PaidTrue, "Card ending in "+card.number.split(//).last(4).join %>
			<%end%>
		<%else%>
			If you want to pay by credit card you will have to add it to you account
		<%end%>
		<%= form.radio_button :Paid, false%>
		<%= label :PaidFalse, "Pay cash on the day" %>
	</div>
	  <div class="actions">
    <%= form.submit "Confirm payment method", class: "btn btn-primary" %>
	<% end %>
	<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" %>
  </div>