<p id="notice"><%= notice %></p>

<p>
  <strong>Userid:</strong>
  <%= @booking.user_id %>
</p>

<p>
  <strong>Noofpersons:</strong>
  <%= @booking.NoOfPersons %>
</p>

<p>
  <strong>Tripid:</strong>
  <%= @booking.trip_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @booking.Date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @booking.Price %>
</p>

<%= link_to 'Edit', edit_booking_path(@booking) %> |
<%= link_to 'Back', bookings_path %>
