<p id="notice"><%= notice %></p>

<%if admin?%>
<p>
  <strong>User:</strong>
  <a class="nounderline" href="/users/<%=@booking.user_id%>"><%= User.find(@booking.user_id).full_name %></a>
</p>
<%end%>

<p>
  <strong>Number of persons:</strong>
  <%= @booking.NoOfPersons %>
</p>

<p>
  <strong>Trip:</strong>
  <a class="nounderline" href="/trips/<%=@booking.trip_id%>"><%= Trip.find(@booking.trip_id).Name %></a>
</p>

<p>
  <strong>Date:</strong>
  <%= Trip.find(@booking.trip_id).Date %>
</p>

<p>
  <strong>Price:</strong>
  <%= Trip.find(@booking.trip_id).Price * @booking.NoOfPersons %>
</p>

<%= button_to 'Edit', edit_booking_path(@booking), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', booking_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>
