<%= form_with(model: user, local: true) do |form| %>
  <% if user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Fname %>
    <%= form.text_field :Fname %>
  </div>

  <div class="field">
    <%= form.label :Lname %>
    <%= form.text_field :Lname %>
  </div>

  <div class="field">
    <%= form.label :Email %>
    <%= form.text_field :Email %>
  </div>

  <div class="field">
    <%= form.label :Address %>
    <%= form.text_field :Address %>
  </div>

  <div class="field">
    <%= form.label :Postcode %>
    <%= form.text_field :Postcode %>
  </div>

  <div class="field">
    <%= form.label :City %>
    <%= form.text_field :City %>
  </div>

  <div class="field">
    <%= form.label :Country %>
    <%= form.text_field :Country %>
  </div>

  <div class="field">
    <%= form.label :Phone %>
    <%= form.text_field :Phone %>
  </div>
  
  <%if admin?%>
	  <div class="field">
		<%= form.label :Privilege %>
		<%= form.radio_button :Privilege, "User"%>
		<%= label :Privilege_User, 'User' %>
		<%= form.radio_button :Privilege, "Admin"%>
		<%= label :Privilege_Admin, 'Admin' %>
	  </div>
  <%else%>
	<%if !logged_in?%>
		<div class="field">
			<%= form.label :password %>
			<%= form.password_field :password %>
		</div>
		<div class="field">
			<%= form.label :password_confirmation %>
			<%= form.password_field :password_confirmation %>
		</div>
	<%end%>
  <%end%>

  <div class="actions">
	<%= invisible_recaptcha_tags text: 'Submit',  class: "btn btn-primary" %>
	<% end %>
	<%= button_to 'Cancel', url_for(:back), class: "btn btn-primary", method: "get" %>
  </div>
