<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @user.Fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.Lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.Address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.Postcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.City %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.Country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.Phone %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @user.Privilege %>
</p>

<p>
  <strong>Cardregistered:</strong>
  <%= @user.CardRegistered %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %>
