<p id="notice"><%= notice %></p>

<p>
  <strong>Fname:</strong>
  <%= @user.Fname %>
</p>

<p>
  <strong>Lname:</strong>
  <%= @user.Lname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.Email %>
</p>

<p>
  <strong>Address:</strong>
  <%= @user.Address %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @user.Postcode %>
</p>

<p>
  <strong>City:</strong>
  <%= @user.City %>
</p>

<p>
  <strong>Country:</strong>
  <%= @user.Country %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.Phone %>
</p>

<p>
  <strong>Privilege:</strong>
  <%= @user.Privilege %>
</p>

<p>
  <strong>Cardregistered:</strong>
  <%= @user.CardRegistered %>
</p>


<%= button_to 'Edit', edit_user_path(@user), class: "btn btn-primary", method: "get" %>
<%= button_to 'Delete', user_path, class: "btn btn-primary", method: "delete", data: { confirm: 'Are you sure?' }%>

<div id="container" class=" " style="width: 50%; height: 400px; float: right; margin: 0 auto"></div>

<script type="text/javascript">
var pointStart = new Date();
var pastYear = pointStart.getFullYear() - 1;
pointStart.setFullYear(pastYear);
Date.parse(pointStart);
console.log(pointStart);
chart = Highcharts.chart('container', {
    chart       : { type    : 'area' },
        title       : { text: 'Your last year activity'},
        legend      : { enabled : true },
		tooltip: {
			pointFormat: 'You have booked {point.y:,.0f} trips'
		},
        plotOptions : {
            series  : {
                pointStart      : pointStart,
                pointInterval   : 24 * 3600 * 1000*30
            },
			area: {
				marker: {
					enabled: false
				}
			}
        },
        xAxis      : { 
            min:Date.UTC((new Date()).getFullYear(), (new Date()).getMonth()-2, (new Date()).getDate()),
            max:Date.UTC((new Date()).getFullYear(), (new Date()).getMonth(), (new Date()).getDate()),
            //allowDecimals: false,
            type           : 'datetime',
            tickInterval   : 24 * 3600 * 1000*30, //one day
            labels         : {
                rotation : 0
            },
            
        },
        yAxis      : { 
			title: {
				text: 'Bookings'
			},
		}
    });	

        
var jsonString = <%= raw Booking.where(user_id: @user.id).to_json %>;

var myData = <%= raw @activity.to_json%>;
var dataArray = []

$.each(myData, function(i, obj) {
   dataArray.push([Date.parse(i), obj])
});
    
    chart.addSeries({
		showInLegend: false,
        data: dataArray    
    });
   
    console.log('data is '+dataArray)
</script>
